html {
  min-height: 100vh;            /* fall-back */
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

body {
  min-height: 100vh;            /* fall-back */
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
}

.cover-page {
  min-height: 100vh;            /* fall-back */
  min-height: -moz-available;
  min-height: -webkit-fill-available;
  min-height: fill-available;
  .cover {
    background-image: url(https://res.cloudinary.com/devaraeko/image/upload/w_800/images/wedding/wedding-cover.jpg);
  }
}


.cover-event {
  background-image: url(https://res.cloudinary.com/devaraeko/image/upload/w_800/images/wedding/wedding-cover-2.jpg);
}

.cover-footer {
  background-image: url(https://res.cloudinary.com/devaraeko/image/upload/w_800/images/wedding/footer-cover.jpg);
}

.quotes {
  min-height: 50vh;
  background-image: url(https://res.cloudinary.com/devaraeko/image/upload/images/wedding/canvas-white.png);
}